@page "/"
@using SixBeeTechTest.ViewModels
@rendermode InteractiveServer

<h3>Create Appointment Form</h3>

@if (AppointmentCreated) // readonly display of appointment details which is shown once the form has been submitted
{
    <div>
        <label for="name">Name:</label>
        <p>@AppointmentDetails.Name</p>
        <label for="date">Date:</label>
        <p>@AppointmentDetails.AppointmentDate.ToString("g")</p>
        <label for="issue">Issue:</label>
        <p>@AppointmentDetails.Issue</p>
        <label for="contact-number">Contact Number:</label>
        <p>@AppointmentDetails.ContactNumber</p>
        <label for="email">Email:</label>
        <p>@AppointmentDetails.EmailAddress</p>
    </div>
}
else // The default view when creating an appointment
{
    <EditForm Model="@AppointmentDetails" OnValidSubmit="@SubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="name">Name</label>
        <InputText @bind-Value="AppointmentDetails.Name" />
        <label for="date">Date</label>
        <InputDate @bind-Value="AppointmentDetails.AppointmentDate" Type="InputDateType.DateTimeLocal" />
        <label for="issue">Issue</label>
        <InputText @bind-Value="AppointmentDetails.Issue" />
        <label for="contact-number">Contact Number</label>
        <InputText @bind-Value="AppointmentDetails.ContactNumber" />
        <label for="email">Email Address</label>
        <InputText @bind-Value="AppointmentDetails.EmailAddress" />
        <button type="submit">Book Appointment</button>
    </EditForm>
}
